body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #600364 10%, #380440 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
   position: absolute;
   border-radius: 20px;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.navigation-bar{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

input {
    display: none;
}

.manual-btn{
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background:#6103646a;
    transition: 0.4s;
}

.slide{
    width: 20%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}




